html, body {
    height: 100vh;
    margin: 0;
}

body {
    font-family: 'Minecraft', sans-serif;
    padding-left: 500px;
    padding-right: 500px;
    background-color: rgb(29, 89, 208);
}

#box{
    text-align: center;
    margin-top: 10%;
    padding: 5px;
    border: 5px solid rgb(15, 56, 136);
    border-radius: 20px;
}

#title {
    font-family: 'Minecraft', sans-serif;
}

p {
    font-size: 25px;
}